.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
}

.card--LemonChiffon {
  background-color: LemonChiffon;
}

.card--LightPink {
  background-color: LightPink;
}

.card--Lavender {
  background-color: Lavender;
}

.card--LightGreen {
  background-color: LightGreen;
}

.card--MistyRose {
  background-color: MistyRose;
}
